<style type="text/css">
  .template-404 .title + * {
    margin-top: 1rem;
  }

  @media screen and (min-width: 750px) {
    .template-404 .title + * {
      margin-top: 2rem;
    }
  }
</style>

<div class="template-404 page-width page-margin center">
  {%- liquid
    capture audio_product_url
      render 'audio-keepsake-product-url'
    endcapture
    assign audio_product_url = audio_product_url | strip
  -%}
  {%- if audio_product_url != blank -%}
    <script>
      if (window.location.pathname.replace(/\/$/, '') === '/products/cassette-audio-personnalisee') {
        window.location.replace({{ audio_product_url | json }});
      }
    </script>
  {%- endif -%}
  <p>
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="{{ audio_product_url }}" class="button">
    Créer mon souvenir
  </a>
</div>
